* {
    box-sizing: border-box;
}

/* Header */

img{
    float: left;
}

h1 {
    font-size: 45px;
    display: inline;
    margin: 10px;
}

#logo{
    padding: 15px;
    background-color: white;
    border: solid 1px rgba(246, 248, 249, 1);
}

/* Body */

body {
    background-color: rgba(246, 248, 249, 1);
}

.container, .bgcolor {
    border-radius: 10px 10px;
    margin: 50px 450px;
    border: solid 1px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

/* Buttons */

.buttons{
    padding: 20px;
    border: solid rgba(246, 248, 249, 1);
    border-radius: 10px, 0, 0, 0;
}

.selected {
    padding: 8px;
    border: solid 1px rgb(71, 173, 241);
    background-color: rgb(71, 173, 241);
    color: white;
    border-radius: 10px;
}

.unselected {
    padding: 8px;
    border: solid 1px rgba(197, 203, 207, 1);
    background-color: rgb(255, 255, 255);
    color: rgba(197, 203, 207, 1);
    border-radius: 10px;
}

/* List */

li{
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
}

h3::before{
    content: "\25be";
 } 
 
.roundv{
    border: solid 1px rgb(107, 196, 174);
    border-radius: 50%;
    color: rgb(107, 196, 174);
}

.roundx{
    border: solid 1px rgb(234, 69, 59);
    border-radius: 50%;
    color: rgb(234, 69, 59);
}

/* Label */

.label{
    font-size: 10px;
    padding: 2px;
    color: white;
    border-radius: 10px;
}

.azure{
    border: solid 1px rgb(71, 173, 241);
    background-color: rgb(71, 173, 241);
}

.purple{
    border: solid 1px rgb(156, 114, 228);
    background-color:rgb(156, 114, 228);
}

.grass{
    border: solid 1px rgb(100, 192, 169);
    background-color: rgb(100, 192, 169);
}

.orange{
    border: solid 1px rgb(242, 158, 51);
    background-color: rgb(242, 158, 51);
}

.pink{
    border: solid 1px rgb(216, 99, 161);
    background-color: rgb(216, 99, 161);
}

.green{
    border: solid 1px rgb(176, 201, 38);
    background-color: rgb(176, 201, 38);
}
