* {
    box-sizing: border-box;
}

img{
    float: left;
}

h1 {
    font-size: 45px;
    display: inline;
    margin: 10px;
}

#logo{
    padding: 15px;
    background-color: white;
    border: solid 1px rgba(246, 248, 249, 1);
}

body {
    background-color: rgba(246, 248, 249, 1);
}

.container, .bgcolor {
    margin: 50px 450px;
    border: solid 1px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

/* FIX TOP BORDER RADIUS */

.buttons{
    padding: 20px;
    border: solid rgba(246, 248, 249, 1);
    border-radius: 10px, 0, 0, 0;
}

.selected {
    padding: 8px;
    border: solid 1px rgb(71, 173, 241);
    background-color: rgb(71, 173, 241);
    color: white;
    border-radius: 10px;
}

.unselected {
    padding: 8px;
    border: solid 1px rgba(197, 203, 207, 1);
    background-color: rgb(255, 255, 255);
    color: rgba(197, 203, 207, 1);
    border-radius: 10px;
}


li{
    font-weight: bold;
}

.roundv{
    border: solid 1px rgb(107, 196, 174);
    border-radius: 50%;
    color: rgb(107, 196, 174);
}

.roundx{
    border: solid 1px rgb(234, 69, 59);
    border-radius: 50%;
    color: rgb(234, 69, 59);
}
/* CREATE A SHORTHAND "LABEL" AND SEPARATE EACH ONE BY COLORS */
.labela{
    font-size: 10px;
    padding: 2px;
    border: solid 1px rgb(71, 173, 241);
    background-color: rgb(71, 173, 241);
    color: white;
    border-radius: 10px;
}
