* {
    box-sizing: border-box;
}

img{
    float: left;
}

h1 {
    display: inline;
    margin: 15px;
}


body {
    background-color: rgba(246, 248, 249, 1);
}

.container, .bgcolor {
    margin: 50px 450px;
    border: solid rgb(255, 255, 255) 1px;
    background-color: rgb(255, 255, 255);
}

.selected {
    border: solid rgb(71, 173, 241);
    background-color: rgb(71, 173, 241);
    color: white;
    border-radius: 10%;
}

.unselected {
    border: solid rgb(71, 173, 241);
    background-color: rgb(71, 173, 241);
    color: rgb(18, 168, 68);
    border-radius: 10%;
}